<style>

.heading {

    display: grid;
    place-items: center;
}

.team{
    margin: 10px 0 20px 0; 
}
.color-options {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .color-options li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .color-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .red {
    background-color: #FF5733;
  }
  
  .yellow {
    background-color: #FFFF66;
  }
  
  .green {
    background-color: #66FF66;
  }
  
  .blue {
    background-color: #33CCCC;
  }
  
  .purple {
    background-color: #FF33FF;
  }
  
 .button {
  margin-left: 15px;

 }
  
</style>

